.cards_conteiner {
    width: 1280px;
    margin: 0 auto;
}
.cards_title {
    margin: 30px 0px;
    margin-left: 35px;
    font-size: 32px;
    font-family: 'Inter_regular';
}
.cards_box {
    display: flex;
    gap: 27px;
    justify-content: space-between;
    margin: 35px;
    @media (max-width: 1250px) {
        flex-direction: column;
        justify-content: center;
    }
}
.card_img {
    border-radius: 48px;
    @media (max-width: 1250px) {
        width: 473px;
    }
    @media (max-width: 625px) {
        width: 362px;
    }
    @media (max-width: 525px) {
        width: 292px;
        border-radius: 24px;
    }
    @media (max-width: 440px) {
        width: 222px;
        
    }
}
.card {
    width: 386px;
    padding: 47px;
    border-radius: 48px;
    @media (max-width: 1250px) {
        flex-direction: column;
        justify-content: center;
        left: 300px;
        width: 567px;
    }
    @media (max-width: 1200px) {
        left: 250px;
    }
    @media (max-width: 1100px) {
        left: 200px;
    }
    @media (max-width: 1000px) {
        left: 150px;
    }
    @media (max-width: 900px) {
        left: 100px;
    }
    @media (max-width: 800px) {
        left: 50px;
    }
    @media (max-width: 700px) {
        left: 0px;
    }
    @media (max-width: 625px) {
        width: 456px;
    }
    @media (max-width: 525px) {
        width: 386px;
    }
    @media (max-width: 440px) {
        width: 316px;
    }
}
.card_1 {
    background-color: #F6AEAE;
}
.card_2 {
    background-color: #F9F6A2;
}
.card_3 {
    background-color: #94CFFF;
}
.right_cards {
    margin-right: 35px;
}
.left_cards {
    margin-left: 35px;
}
.card_text {
    font-size: 16px;
    font-family: 'Inter_regular';
}
.card_post {
    font-size: 20px;
    font-family: 'Inter_regular';
    color: #575757;
}
.card_name {
    font-size: 22px;
    font-family: 'Inter_medium';
    padding: 30px 0px;
}