.home {
    height: 405px;
    width: 1280px;
    margin: 0 auto;
    @media (max-width: 1250px) {
        width: 1050px;
    }
    @media (max-width: 1050px) {
        width: 850px;
    }
    @media (max-width: 870px) {
        width: 650px;
    }
    @media (max-width: 670px) {
        width: 450px;
    }
    @media (max-width: 470px) {
        width: 350px;
    }
}
.home_conteiner {
    background-image: url(background_hero.jpg);
    background-repeat: repeat-x;
    background-size: auto 405px;

}
.main_box {
    margin: 0 auto;
    align-items: center;
}
.home_text {
    font-size: 24px;
    padding: 47px 0px 116px 148px;
    font-family: 'Inter_regular';
    @media (max-width: 1250px) {
        font-size: 20px;
        padding: 47px 0px 116px 78px;
    }
    @media (max-width: 870px) {
        font-size: 18px;
        padding: 47px 0px 116px 0px;
        text-align: center;
        align-items: center;
    }
    
}
.lending_conteiner {
    width: 1280px;
    margin: 0 auto;
    @media (max-width: 1250px) {
        width: 1050px;
    }
    @media (max-width: 1050px) {
        width: 850px;
    }
    @media (max-width: 870px) {
        width: 650px;
    }
    @media (max-width: 670px) {
        width: 450px;
    }
    @media (max-width: 470px) {
        width: 350px;
    }
}
.lending_box {
    width: 1192px;
    margin: 0 auto;
    padding: 50px;
    background-color: #D6FFCC;
    border-radius: 48px;
    line-height: 1.2;
    margin-bottom: 30px;
    @media (max-width: 1250px) {
        width: 1050px;
    }
    @media (max-width: 1050px) {
        width: 850px;
    }
    @media (max-width: 870px) {
        width: 650px;
    }
    @media (max-width: 670px) {
        width: 450px;
    }
    @media (max-width: 470px) {
        width: 350px;
    }
}
.lending_title {
    font-size: 24px;
    font-family: 'Inter_bold';
    @media (max-width: 1250px) {
        font-size: 22px;
    }
    @media (max-width: 1050px) {
        font-size: 20px;
    }
    
}
.lending_text {
    font-size: 22px;
    font-family: 'Inter_regular';
    @media (max-width: 1250px) {
        font-size: 20px;
    }
    @media (max-width: 1050px) {
        font-size: 18px;
    }
    @media (max-width: 800px) {
        font-size: 16px;
    }
}
.last_lending_text {
    margin-bottom: 30px;
}
.map_link {
    padding: 0px 35px;
    margin-bottom: 66px;
}
.map_box {
    width: 1280px;
    margin: 0 auto;
    @media (max-width: 1250px) {
        width: 1050px;
    }
    @media (max-width: 1050px) {
        width: 850px;
    }
    @media (max-width: 870px) {
        width: 650px;
    }
    @media (max-width: 670px) {
        width: 450px;
    }
    @media (max-width: 470px) {
        width: 350px;
    }
}
.map_title {
    padding: 37px 0px;
    padding-left: 35px;
    font-size: 32px;
    font-family: 'Inter_regular';
}